body {
    font-family: 'Courier New', Courier, monospace;
    font-size: 30px;
    height: 100vh;
    display: flex;
    justify-content: center;
}

.calculator-container {
    display: flex;
    flex-direction: column;
    height: 600px;
    width: 400px;
    align-self: center;
}

.number-display {
    padding: 10px;
    text-align: right;
    border: 1px solid black;
}

.current-value-display {
    text-align: right;
}

.past-value-display {
    font-size: 20px;
}

.button-row {
    display: flex;
    height: 100%;
}

button {
    flex: 1;
}